

.header {
  position: fixed;
  top: 0;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  padding: 16px ;
  padding-inline: 128px;
 background: #030303;
z-index: 1000;
  background: linear-gradient(
                  90deg,
                  rgba(3, 3, 3, 1) 0%,
                  rgba(3, 3, 3, 0.4) 67%,
                  rgba(3, 3, 3, 1) 100%
  );  backdrop-filter: blur(10px);

display: flex;
  align-items: center;
  justify-content: space-between;

}

.links {
  display: flex;
  gap: 32px;
  > a {
    font-weight: 600;
  }
}

.contactRow {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  position: relative;
  font-weight: 600;
  color: white;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease, background 0.3s ease;
  text-decoration: none;
}







.navFirstRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
margin-block: auto;
width: 100%;
}



@media (max-width: 768px) {



  .header {
    width: 90vw;
  }
}
