@use 'sass:color';

.header {
  z-index: 1000;
  backdrop-filter: blur(2px);
  background: linear-gradient(90deg, #111 0%, #222 100%);;
  width: 65%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: fixed;
  top: 20px;
  left: 0px;
  right: 0px;
  padding: 16px;
border-radius: 50px;
  outline: #333 solid 1px;

}

.logoWrapper {
  padding: 0.75rem;
  border-radius: 50px;
  &:hover {
    background-color: color.adjust(#111, $lightness: 10%);
  }

  &:focus-visible {

    background-color: color.adjust(#111, $lightness: 10%);
    outline: 1px solid      color.adjust(#111, $lightness: 50%);

  }
  >p {
    font-weight: 800;
    color: #f2f2f2;
    font-size: 1rem;
  }
}

.subtext {
  font-size: 0.5rem;
}

.links {
  display: flex;
  gap: 16px;

  > a {
    font-weight: 600;
    padding-block: 0.25rem;
    padding-inline: 1rem;
    border-radius: 50px;
    border: none;

    &:hover {
      background-color: color.adjust(#111, $lightness: 10%);
    }

    &:focus-visible {

      background-color: color.adjust(#111, $lightness: 10%);
outline: 1px solid      color.adjust(#111, $lightness: 50%);

    }
  }
}

.contactRow {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  position: relative;
  font-weight: 600;
  color: white;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease, background 0.3s ease;
  text-decoration: none;
}







.navFirstRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
margin-block: auto;
width: 100%;
}



@media (max-width: 768px) {

  .links {
    display: none;
  }

  .header {
    width: 90vw;
  }
}
