@use "sass:color";

.iconButton {
  outline: 1px solid #ddd;
  border-radius: 8px;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
border: none;

  &:hover {
    background-color: color.adjust(#130F1B, $lightness: 10%);
  }

  &:active {
    background-color: color.adjust(#130F1B, $lightness: 20%);
  }

  &:focus-visible {
    background-color: color.adjust(#130F1B, $lightness: 10%);
    outline: 1px solid color.adjust(#130F1B, $lightness: 60%);
  }
}