@use "sass:color";

.iconButton {
  border-radius: calc(infinity * 1px);
  background-color: transparent;
  outline: 0px solid  hsl(168.97, 95.6%, 30%);
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
transition: background-color 0.075s linear;

  &:hover {
    background-color: color.adjust(#111, $lightness: 10%);
  }

  &:focus-visible {

    background-color: color.adjust(#111, $lightness: 10%);
    outline: 1px solid      color.adjust(#111, $lightness: 50%);

  }
}