@use "@/app/style/reset" as *;
@use "./style/_mixins" as *;
@use "@/app/style/_variables" as *;
@use "@/app/style/_fontFaces" as *;
@use 'sass:color';


body {
  font-family: "Satoshi", Arial, Helvetica, sans-serif;
  color: #f2f2f2;
}

html {
  background-color: #130F1B;
  overflow-x: hidden;
}

h1 {
  font-family: "Satoshi", Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: -2px;
  font-size: clamp(2rem, 4vw, 10rem);
}

h2 {
  @include font-sizes(h2);
}

h3 {
  @include font-sizes(h3);
}

h4 {
  @include font-sizes(h4);
}

h5 {
  @include font-sizes(h5);
}

h6 {
  @include font-sizes(h6);
}

button {
  @include font-sizes(body);
}

section {
  padding-inline: calc(12.5% + 60px);
}

::selection {
  background: blue; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: blue; /* Gecko Browsers */
}

.gradient-text {
  background: linear-gradient(90deg, #fff, #E1FF00, #fff);
  background-size: 200% 100%;
  animation: shine 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
html, body {
  cursor: url("../../public/cursor.svg"), auto;
}

button, a {
  cursor: url("../../public/pointinghand.svg"), auto !important;
}



.button {
  &--primary {
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 7.5px;
    background-color: yellow;
    color: #030303;
    padding: 15px 25px;
    font-weight: 600;
    border-radius: 10px;
    -webkit-box-shadow: inset 2px 2px 2px -2px #FFFFFF;
    box-shadow: inset 2px 2px 2px -2px #FFFFFF;

  }



  &--secondary {
    outline: none;
    border: none;
    background-color: #000;
    color: #f2f2f2;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    -webkit-box-shadow: inset 2px 2px 2px -2px #FFFFFF;
    box-shadow: inset 2px 2px 2px -2px #FFFFFF;
    padding: 5px 15px;
    border-radius: 100px;
  }

  &--icon {
    outline: none;
    background-color: color.adjust(#030303, $lightness: 5%);
    border-radius: 10px;
    transition: background-color 0.0875s ease;
    padding: 10px;
    display: inline-block;
    line-height: 0;
    border: 1px solid #f2f2f2;

    &:hover {
      background-color: color.adjust(#030303, $lightness: 10%);
    }

    &:active {
      background-color: color.adjust(#030303, $lightness: -5%);
    }
  }
}


#curlet {
  opacity: 0;
}

#E1, #N2, #T3, #W4, #I5, #C6, #K7, #E8, #L9, #N10 {
  display: none;
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.097 0 89.876);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.bold {
  font-size: clamp(0.5rem, calc(3vw + 1rem) , 7rem);
  font-weight: bold;
}

#entwickeln, #designen, #skalieren {
  display: flex;
  gap: 0px;
}

@media (width < 600px) {
  section {
    padding-inline: calc(2% + 60px);
  }
}

#D1 {
  color: $color-1;
}
#E2 {
  color: $color-2 ;
}

#S3 {
  color: $color-3 ;
}

#I4{
  color: $color-4 ;
}

#G5 {
  color: $color-5 ;
}
#N6 {
  color: $color-1 ;
}
#E7{
  color: $color-2 ;
}


