@use "@/app/style/_variables" as *;

@use "sass:color";

.page {
  > .hero {
    height: clamp(100dvh, 100dvh, 200dvh);
    display: flex;
    align-items: center;
    > article {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1.4rem;
      p, h1 {
        text-align: center;
      }
    }


    }

}



.services {
  width: 100%;

}

.blockRow {
  gap: 2rem;
  width: 100%;
  margin-block: 3rem 6rem;

  padding-bottom: 60vh;
}

.services {
  position: relative;
}

/* Sticky Header */
.servicesHeader {
  position: sticky;
  top: 120px;
  z-index: 1;
  padding-bottom: 1.5rem;
}

/* Wrapper für Scrollraum */
.blockRow {
  position: relative;
  padding-bottom: 100vh;
}

/* Cards */
.block {
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 16px;
  height: 380px;
  border-radius: 10px;
  margin-bottom: 3rem;

  background: white;
  transition: transform 0.3s ease;
   ul  li {
    list-style: none;
  }
}

/* Stacking */
.block:nth-child(2) {
  top: 200px;
  background: red;
  z-index: 2;
}

.block:nth-child(3) {
  top: 200px;
  background: blue;
  z-index: 3;
}

.block:nth-of-type(4) {
  top: 200px;
  background: darkblue;
  z-index: 4;
}

.block:not(:first-of-type) {
  transform: translateY(20px);
}