@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.box {
  outline: 1px solid #ddd;
  height: 4rem;
  padding: 3rem ;
flex: 0 0 20em;
  border-radius: 8px ;
}

.gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  background: RGBA(83, 146, 100, 0);
  background: linear-gradient(177deg, rgba(83, 146, 100, 0) 10%, rgba(19, 15, 27, 1) 90%);
}

.scrollWrapper {
  width: 100%;
}

.overlay {
  left: 0;
  top: 0;
  position: absolute;
  background: red;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(19, 15, 27, 0) 0%, rgba(19, 15, 27, 1) 100%);}

.scroller {
  display: flex;
  position: relative;
  gap: 8px;
  margin-bottom: 32px;
  width: 100%;
  overflow-x: auto;
  padding: 5;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }
}