
@font-face {
  font-family: "Satoshi";
  src: url("../font/SatoshiVariable/Satoshi-Variable.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Stardom";
  src: url("../font/Stardom-Regular.otf");
  font-display: swap;
}