$breakpoint-mobile: 0;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$color-primary-dark: #130F1B;
$color-1: #5AE8A7;
$color-2: #7EA1FF;
$color-3: #E8B364;
$color-4: #EBFF6F;
$color-5: #FF7A8C;

$font-sizes: (
        h1: (
                mobile: (
                        size: 2rem,
                        line-height: 1.2,
                ),
                tablet: (
                        size: 3rem,
                        line-height: 1.2,
                ),
                desktop: (
                        size: 4rem,
                        line-height: 1.1,
                ),
        ),
        h2: (
                mobile: (
                        size: 1.75rem,
                        line-height: 1.25,
                ),
                tablet: (
                        size: 2rem,
                        line-height: 1.2,
                ),
                desktop: (
                        size: 2.5rem,
                        line-height: 1.1,
                ),
        ),
        h3: (
                mobile: (
                        size: 1.5rem,
                        line-height: 1.3,
                ),
                tablet: (
                        size: 1.75rem,
                        line-height: 1.25,
                ),
                desktop: (
                        size: 2rem,
                        line-height: 1.2,
                ),
        ),
        h4: (
                mobile: (
                        size: 1.25rem,
                        line-height: 1.4,
                ),
                tablet: (
                        size: 1.5rem,
                        line-height: 1.3,
                ),
                desktop: (
                        size: 1.75rem,
                        line-height: 1.25,
                ),
        ),
        h5: (
                mobile: (
                        size: 1.125rem,
                        line-height: 1.5,
                ),
                tablet: (
                        size: 1.25rem,
                        line-height: 1.4,
                ),
                desktop: (
                        size: 1.5rem,
                        line-height: 1.3,
                ),
        ),
        h6: (
                mobile: (
                        size: 1rem,
                        line-height: 1.6,
                ),
                tablet: (
                        size: 1.125rem,
                        line-height: 1.5,
                ),
                desktop: (
                        size: 1.25rem,
                        line-height: 1.4,
                ),
        ),
        body: (
                mobile: (
                        size: 0.875rem,
                        line-height: 1.4,
                ),
                tablet: (
                        size: 1rem,
                        line-height: 1.5,
                ),
                desktop: (
                        size: 1rem,
                        line-height: 1.4,
                ),
        )
);
